# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

.DS_Store
Pods/EZAudio/LICENSE
Pods/EZAudio/README.md
Pods/EZAudio/EZAudio/EZAudio.h
Pods/EZAudio/EZAudio/EZAudio.m
Pods/EZAudio/EZAudio/EZAudioDevice.h
Pods/EZAudio/EZAudio/EZAudioDevice.m
Pods/EZAudio/EZAudio/EZAudioDisplayLink.h
Pods/EZAudio/EZAudio/EZAudioDisplayLink.m
Pods/EZAudio/EZAudio/EZAudioFFT.h
Pods/EZAudio/EZAudio/EZAudioFFT.m
Pods/EZAudio/EZAudio/EZAudioFile.h
Pods/EZAudio/EZAudio/EZAudioFile.m
Pods/EZAudio/EZAudio/EZAudioFloatConverter.h
Pods/EZAudio/EZAudio/EZAudioFloatConverter.m
Pods/EZAudio/EZAudio/EZAudioFloatData.h
Pods/EZAudio/EZAudio/EZAudioFloatData.m
Pods/EZAudio/EZAudio/EZAudioiOS.h
Pods/EZAudio/EZAudio/EZAudioOSX.h
Pods/EZAudio/EZAudio/EZAudioPlayer.h
Pods/EZAudio/EZAudio/EZAudioPlayer.m
Pods/EZAudio/EZAudio/EZAudioPlot.h
Pods/EZAudio/EZAudio/EZAudioPlot.m
Pods/EZAudio/EZAudio/EZAudioPlotGL.h
Pods/EZAudio/EZAudio/EZAudioPlotGL.m
Pods/EZAudio/EZAudio/EZAudioUtilities.h
Pods/EZAudio/EZAudio/EZAudioUtilities.m
Pods/EZAudio/EZAudio/EZMicrophone.h
Pods/EZAudio/EZAudio/EZMicrophone.m
Pods/EZAudio/EZAudio/EZOutput.h
Pods/EZAudio/EZAudio/EZOutput.m
Pods/EZAudio/EZAudio/EZPlot.h
Pods/EZAudio/EZAudio/EZPlot.m
Pods/EZAudio/EZAudio/EZRecorder.h
Pods/EZAudio/EZAudio/EZRecorder.m
Pods/EZAudio/EZAudio/TPCircularBuffer.c
Pods/EZAudio/EZAudio/TPCircularBuffer.h
Pods/Target Support Files/EZAudio/EZAudio-dummy.m
Pods/Target Support Files/EZAudio/EZAudio-prefix.pch
Pods/Target Support Files/EZAudio/EZAudio-umbrella.h
Pods/Target Support Files/EZAudio/EZAudio.modulemap
Pods/Target Support Files/EZAudio/EZAudio.xcconfig
Pods/Target Support Files/EZAudio/Info.plist
Pods/Target Support Files/TPCircularBuffer/Info.plist
Pods/Target Support Files/TPCircularBuffer/TPCircularBuffer-dummy.m
Pods/Target Support Files/TPCircularBuffer/TPCircularBuffer-prefix.pch
Pods/Target Support Files/TPCircularBuffer/TPCircularBuffer-umbrella.h
Pods/Target Support Files/TPCircularBuffer/TPCircularBuffer.modulemap
Pods/Target Support Files/TPCircularBuffer/TPCircularBuffer.xcconfig
Pods/TPCircularBuffer/README.markdown
Pods/TPCircularBuffer/TPCircularBuffer+AudioBufferList.c
Pods/TPCircularBuffer/TPCircularBuffer+AudioBufferList.h
Pods/TPCircularBuffer/TPCircularBuffer.c
Pods/TPCircularBuffer/TPCircularBuffer.h
